<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head") %>
  <body>
    <%- include ("partials/navbar") %>
    <div class="container m-4">
      <h1>About</h1>
      <p>
        Before you can play the Game, you must register first by selecting the Log In button. This game doesn't need particular skill to be the winner, due to this Game is about how much lucky you are. So let's find your lucky and win the
        game against the Computer.
      </p>
    </div>
  </body>
</html>
