<!doctype html>
<html lang="en">
  <%- include ("partials/head") %> 
   <!-- My CSS -->
  <link rel="stylesheet" href="css/index.css" />

  <body>
    <!-- Navbar -->
   <%- include("partials/navbar") %> 

      <!-- JUMBOTRON -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h6 class="display-4">PLAY TRADIONAL GAME</h6>
            <div class="jumbotron-content">
              <p class="lead">FIND YOUR LUCKY</p>
            </div>
          </div>

        <div class="jumbotron-content2">
          <div class="button">
            <a href="play">
              <button type="button" class="btn btn-warning">PLAY NOW</button>
                </a>
                <br />
                <br />
                <p class="text">SEE ANOTHER PLAYERS</p>
                <a href="data" class="btn btn-info player">
                REGISTERED PLAYERS
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  </body>
</html>